
*.fcz
objects/nextObjectNumberOffset.txt
sprites/nextSpriteNumberOffset.txt
翻译表.xlsx
sync_backup/
/.idea
__pycache__/
faces/
scenes/
screenShots/
groundTileCache/
working/
~.xlsx
imgui.ini
log.txt
OneLife*
